
        <div class="banner-title">
          <h1 class="animated fadeInUp" data-wow-duration="1s" data-wow-delay="5s">wellcome to our cozy bar</h1>
          <p class="animated fadeInLeft" data-wow-duration="1s" data-wow-delay="5s">we are here to serve you! enjoy your night? uhh..remember your student discount?</p>

        </div>

      