<div class="container">
        <div class="row py-5">
          <div class="col-md-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".4s">
            <div class="contact-info">
              <h3>contact information</h3>
            </div>
            <div class="address-info">
              <p>Rosenkrantzgade 20</p>
              <p>8000 Aarhus C</p>
              <p>Danmark</p>
            </div>
            <div class="call-info">
              <p>ring nu:<a href=""></a>+45 53843786</p>
              <p>skriv:<a href="">info@flintstonepub.dk</a></p>
            </div>
            <div class="contact-reservation">
              <p>for bord reservation? please call to our customer services</p>
            </div>
            <div class="job">
              <p>Job? We only hire danish speaking bartenders. Please dont send your CV.</p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInRight">
            <div class="open-hours">
              <h3>opening hours</h3>
            </div>
            <table>
              <tr>
                <th>opening days</th>
                <th>opening hours</th>
              </tr>
               <tr>
                 <td>mon/tue</td>
                 <td>13.00 – 01.00</td>
               </tr>
               <tr>
                  <td>thursday</td>
                  <td>13.00 – 02.00</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>13.00 – 03.00</td>
                  </tr>
                  <tr>
                      <td>saturday</td>
                      <td>13.00 – 03.00</td>
                    </tr>
                    <tr>
                        <td>son&holiday</td>
                        <td>16.00 – 01.00</td>
                      </tr>
            </table>
          </div>

          <div class="col-md-4 wow fadeIn"data-wow-duration="1s" data-wow-delay=".4s">
            <form action="comment.html" class="support" id="MessageBox" method="POST">
              
              <h5 id="support-title"> support us to make it more interesting</h5>
              <div class="form-group">
              <input type="fullName" name="" id="messageName" placeholder="Full Name" class="form-control">
            </div>
              <!-- <div id="errorsName"></div> -->
              <div class="form-group">
             <textarea class="form-control" name="messageText" id="messageText" cols="35" rows="7" placeholder="Write Here"></textarea>
            </div>
             <button type="submit" id="send-it">send it</button>
             <div id ="errorsMessage"></div>
            </form>
          </div>
        </div>
      </div>