
<div class="row">
        <div class="col col-md-8">
          <div class="feedback">
            <p>please send us your feedback <a href="">see here.</a> </p>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="social-media">
            <i class="fab fa-facebook-f"></i>
            <i class="fas fa-envelope"></i>
          </div>
        </div>
      </div>
      