<nav class="navbar sticky-top navbar-expand-lg">
<a class="navbar-brand" href="#">
        <i class="fas fa-glass-cheers"></i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <!-- <i class="fas fa-bars" id="menu-bars" ></i> -->
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li id="li_home" class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          



          <li id="li_events" class="nav-item">
            <a class="nav-link" href="/events">events</a>
          </li>

          <li id="li_quiz" class="nav-item">
            <a class="nav-link" href="/quiz">quiz</a>
          </li>

          <li id="li_contact" class="nav-item">
            <a class="nav-link" href="/contact">contact</a>
          </li>
        </ul>
      </div>

    </nav>